.experience {
  margin-bottom: 2em;
  page-break-inside: avoid;

  .experience-header {
    padding-bottom: 10px;
    font-weight: bold;

    .experience-header-part {
      display: inline-block;
    }

    .experience-header-part:not(:first-of-type) {
      padding-left: 1em;
    }
  }

  label {
    display: inline-block;
    font-weight: bold;
    width: 100px;
  }

  .company {
    font-size: 1.2em;
  }
  .location {
    font-style: italic;
  }

  .field-value-about {
    display: block;
    padding-left: 100px;
  }
}
