@import '../_variables';

.resume-header {
  background-color: $background;
  color: white;
  text-align: center;
  padding: 1rem;


  .picture {
    height: 6rem;
    float: left;
  }

  .details {
    padding-top: 1rem;
    font-size: 1rem;

    .name {
      margin: 0;
    }

    .subtext {
      text-align: center;
    }

    a, a:visited {
      color: lightblue;
      margin: 0 10px;
    }
  }
}