@import '../_variables';

section {
  display: flex;

  & > * {
    padding-top: 0.5rem;
    padding-bottom: 1rem;

  }

  header {
    padding-left: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: $background;
    color: white;
    flex: 0 0 8rem;

  }

  .section-body {
    padding-left: 1rem;
    flex-grow: 1;
  }
}