section {
  display: flex;

  & > * {
    padding-top: 10px;
    padding-bottom: 10px;

  }

  header {
    padding-left: 10px;
    font-size: 1.2em;
    font-weight: bold;
    background-color: darkblue;
    color: white;
    flex: 0 0 150px;

  }

  .section-body {
    padding-left: 10px;
    flex-grow: 1;
  }
}